{% extends "wc2018/base.html" %}

{% load static %}

{% block title %}
    Coupe du Monde 2018
{% endblock %}

{% block styles %}
    {{ block.super }}
{% endblock %}

{% block content %}
 {% for round in rounds.all %}
 <h2>{{ round.round_name }}</h2>
<div class="col-md-4 row" style="width:25%; display:table">
<table class="table table-striped table-hover" style="white-space: nowrap">
<thead class="thead-dark">
<tr>
    <th class="w-auto" scope="col">Match</th>
    <th class="w-auto" scope="col">Score</th>
    {% for user in users.all %}
      <th class="w-auto" scope="col">{{ user }}</th>
    {% endfor user %}
</tr>
</thead>
<tbody>
  {% for result in results.all %}
   {% if result.match.match_round.round_name|lower == round.round_name|lower %}

<tr>
  <td class="w-auto">
    <div>
      <img src="https://flagcdn.com/w20/{{ result.match.team1.iso2 }}.png" srcset="https://flagcdn.com/w40/{{ result.match.team1.iso2 }}.png 2x" width="20"> &nbsp; {{ result.match.team1.name }}&nbsp;-&nbsp;{{ result.match.team2.name }}&nbsp;  <img src="https://flagcdn.com/w20/{{ result.match.team2.iso2 }}.png" srcset="https://flagcdn.com/w40/{{ result.match.team2.iso2 }}.png 2x" width="20">
</div>
  </td>
  <td class="w-auto">
    {{ result.score_team1 }} - {{ result.score_team2 }} 
  </td>
  {% for user in users.all %}
  {% for result_prono in result_pronos %}
    {% if result_prono.match_id == result.match.match_id %}
      <td class="w-auto">
      {% if result_prono.user|lower == user|lower %}
          {{ result_prono.points }} 
        {% else %}
          0
        {% endif %}
      </td>
    {% endif %}
  {% endfor prono %}
  {% endfor user %}
</tr>
{% endif %}
{% endfor result %}
<tbody>
  <tfoot>
    <tr>
      <td class="w-auto" colspan=2>
	TOTAL
      </td>
      {% for p in users_totalpoints %}
      {% for user in users.all %}
      {% if p.user|lower == user|lower %}
        <td class="w-auto">
  	  {{ p.total_points }}
        </td>
	{% endif %}
      {% endfor user %}
      {% endfor p %}
    </tr>
  </tfoot>
</table>
</div>
      {% endfor round %}
<script>
document.getElementById("ranking").innerHTML += "<span class=\"sr-only\">(current)</span>";
  document.getElementById("li_ranking").classList.add("active");
</script>

{% endblock %}
