{% extends "wc2018/base.html" %}

{% load static %}

{% block title %}
    Coupe du Monde 2022
{% endblock %}

{% block styles %}
    {{ block.super }}
{% endblock %}

{% block content %}
<div class="row-fluid">
{% for g in groups.all %}
<!-- <div class="col-xs-6" > -->
  <!-- style="width:25%; display:table"> -->
  <div class="col-xs-6 table-responsive">
    <!-- <table class="table table-striped table-hover" style="display:  inline-block;"> -->
    <table class="table table-striped table-hover" style="float: left">
      <thead class="thead-dark">
  <tr>
    <th class="w-auto" scope="col">{{ g.name }}</th>
  </tr>
 </thead>
 <tbody>
 <tr>
    <td class="w-auto">
      <img src="https://flagcdn.com/w20/{{ g.team1.iso2 }}.png" srcset="https://flagcdn.com/w40/{{ g.team1.iso2 }}.png 2x" width="20">
      {{ g.team1.name }}
    </td>
 </tr>
 <tr>
    <td class="w-auto">
      <img src="https://flagcdn.com/w20/{{ g.team2.iso2 }}.png" srcset="https://flagcdn.com/w40/{{ g.team2.iso2 }}.png 2x" width="20">
      {{ g.team2.name }}
    </td>
 </tr>
 <tr>
    <td class="w-auto">
      <img src="https://flagcdn.com/w20/{{ g.team3.iso2 }}.png" srcset="https://flagcdn.com/w40/{{ g.team3.iso2 }}.png 2x" width="20">
      {{ g.team3.name }}
    </td>
 </tr>
 <tr>
    <td class="w-auto">
      <img src="https://flagcdn.com/w20/{{ g.team4.iso2 }}.png" srcset="https://flagcdn.com/w40/{{ g.team4.iso2 }}.png 2x" width="20">
      {{ g.team4.name }}
    </td>
 </tr>
 </tbody>
    </table>
    </div>
    <!-- </div> -->
 {% endfor %}
</div>
<script>
document.getElementById("groups").innerHTML += "<span class='sr-only'>(current)</span>";
  document.getElementById("li_groups").classList.add("active");
</script>
{% endblock %}
{% block js %}
    {{ block.super }}
{% endblock %}
