{% extends "wc2018/base.html" %}
{% load static %}

{% block title %}
Coupe du Monde 2018
{% endblock %}

{% block js %}
{{ block.super }}
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap4.min.js"></script>

{% endblock %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap4.min.css">
{% endblock %}
	   
{% block content %}
{% for r in ordered_rounds %}
{% if r.id <= current_prediction_round %}
<div class="col-md-6 col-sm-6 col-xs-6" style="float: left; display:table">
<h2>{{ r.round_name }}</h2>
  <table id="table{{ g.id }}" class="table table-striped table-hover" style="white-space: nowrap" >
    <thead class="thead-dark">
      <tr>
	<th class="w-auto" scope="col">Team1</th>
	<th class="w-auto" scope="col">score1</th>
	<th class="w-auto" scope="col"></th>
	<th class="w-auto" scope="col">score2</th>
	<th class="w-auto" scope="col">Team2</th>
      </tr>
    </thead>
    <tbody>
{% for m in matches %}
{% if m.match.match_round.id == r.id %}
<tr>
      <td class="w-auto">
	<div>
	  <img src="https://flagcdn.com/w20/{{ m.match.team1.iso2 }}.png" srcset="https://flagcdn.com/w40/{{ m.match.team1.iso2 }}.png 2x" width="20">&nbsp; {{ m.match.team1.name }}
	</div>
      </td>
      <td class="w-auto">
	<div>
	  {{ m.score_team1 }}
	</div>
      </td>
      <td class="w-auto">
	<div>
	  -
	</div>
      </td>
      <td class="w-auto">
	<div>
	  {{ m.score_team2 }}
{% if m.extratime == True %}
({{ m.score_extratime_team1 }} - {{ m.score_extratime_team2 }})
	{% endif %}
	</div>
      </td>

      <td class="w-auto">
	<div>
	  <img src="https://flagcdn.com/w20/{{ m.match.team2.iso2 }}.png" srcset="https://flagcdn.com/w40/{{ m.match.team2.iso2 }}.png 2x" width="20">&nbsp; {{ m.match.team2.name }}
	</div>
      </td>
</tr>
<!-- { % for result in results.all %} 
{ % if result.match.match_round.id == r.id %}
{{ result.match.team1 }} - {{ result.match.team2 }} {{ result.score_team1 }} - {{ result.score_team2 }}
{ % if result.extratime == True %}
({{ result.score_extratime_team1 }} - {{ result.score_extratime_team2 }})
{ % endif %}
-->

{% endif %}
{% endfor m %}
    </tbody>
    </table>
    </div>
    
{% endif %}
{% endfor r %}
<script>
  document.getElementById("knockout").innerHTML += "<span class=\"sr-only\">(current)</span>";
  document.getElementById("li_knockout").classList.add("active");
</script>
{% endblock %}
