{% extends "wc2018/base.html" %}

{% load static %}

{% block title %}
    Coupe du Monde 2022
{% endblock %}

{% block styles %}
    {{ block.super }}
{% endblock %}

{% block content %}
<div class="col-md-2 row">
  <table class="table table-striped table-hover" style="white-space: nowrap">      
      <thead class="thead-dark">
  <tr>
    <th class="w-auto" scope="col">Equipe</th>
  </tr>
 </thead>
 {% for team in teams|dictsort:"name" %}
 <tr>
    <td>
      <img src="https://flagcdn.com/w20/{{ team.iso2 }}.png" srcset="https://flagcdn.com/w40/{{ team.iso2 }}.png 2x" width="20">
      {{ team.name }}
    </td>
 </tr>
 {% endfor %}
 </table>
</div>

<script>
  document.getElementById("teams").innerHTML += "<span class='sr-only'>(current)</span>";
  document.getElementById("li_teams").classList.add("active");
</script>

{% endblock %}
