<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}{% endblock %}
    </title>
    {% block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}
    {% block styles %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% endblock %}
    {% block js %}
    
    <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
	integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	crossorigin="anonymous"></script>


   {% endblock %}
</head>

<body>
  
{% block nav_header %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
      <img src="{% static 'wc2022/2022_FIFA_World_Cup.svg' %}" alt="" width="120" height="96">
      <span class="navbar-text">Coupe du Monde 2022</span>
      </div>
	     
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      {% endblock %}
{% block nav %}
      <li id="li_pronostics" class="nav-item">
        <a id="pronostics" class="nav-link" href="{% url 'wc2022:pronostics' %}">Pronostics</a>
      </li>
      <li id="li_pronostiquer" class="nav-item">
        <a id="pronostiquer" class="nav-link" href="{% url 'wc2022:pronostiquer' %}">Pronostiquer</a>
      </li>
      <li id="li_teams" class="nav-item">
        <a id="teams" class="nav-link" href="{% url 'wc2022:teams' %}">Equipes</a>
      </li>
      <li id="li_groups" class="nav-item">
        <a id="groups" class="nav-link" href="{% url 'wc2022:groups' %}">Poules</a>
      </li>
      <li id="li_resultats" class="nav-item">
        <a id="resultats" class="nav-link" href="{% url 'wc2022:resultats' %}">Résultats</a>
      </li>
      <li id="li_knockout" class="nav-item">
	<a id="knockout" class="nav-link" href="{% url 'wc2022:knockout' %}">Tableau final</a> 
      </li>
      <li id="li_ranking" class="nav-item">
        <a id="ranking" class="nav-link" href="{% url 'wc2022:classement' %}">Classement</a>
      </li>
      {% endblock %}
{% block nav_footer %}
    </ul>
  </div>
</nav>
            {% endblock %}

    <main role="main" class="container top-pushed">
        <div class="jumbotron">
            {% block content %}
            {% endblock %}
        </div>
    </main>
</body>

</html>
