{% extends "wc2022/base.html" %}

{% load static %}

{% block title %}
    Coupe du Monde 2022
{% endblock %}

{% block styles %}
    {{ block.super }}
{% endblock %}

{% block content %}
 {% for round in rounds.all %}
{% if round.id <= current_prediction_round %}
 <!-- <h2>{{ round.round_name }}</h2> -->
<div class="col-md-4 row" style="width:25%; display:table">
<table class="table table-striped table-hover" style="white-space: nowrap">
  <thead class="thead-dark">
    <tr>
      <th style="text-align:center;background-color: #666666" colspan="3" scope="col"> {{ round.round_name }}</th>
    </tr>
    <tr>
      <th class="w-auto" scope="col">Match</th>
      <th class="w-auto" scope="col">Score</th>
      {% for user in users.all %}
      <th class="w-auto" scope="col">{{ user }}</th>
      {% endfor user %}
    </tr>
  </thead>
  <tbody>
    {% for result in results %}
    {% if result.match.match_round.round_name|lower == round.round_name|lower %}
    
    <tr>
      <td class="w-auto">
	<div>
	  {% if result.vainqueur == 1 %}
	  <b>
	    {% endif %}
	    <img src="https://flagcdn.com/w20/{{ result.match.team1.iso2 }}.png" srcset="https://flagcdn.com/w40/{{ result.match.team1.iso2 }}.png 2x" width="20"> &nbsp; {{ result.match.team1.name }}
	    {% if result.vainqueur == 1 %}
	  </b>
	  {% endif %}
	  &nbsp;-&nbsp;
	  {% if result.vainqueur == 2 %}
	  <b>
	    {% endif %}
	    {{ result.match.team2.name }}
	    {% if result.vainqueur == 2 %}
	  </b>
	    {% endif %}
&nbsp;  <img src="https://flagcdn.com/w20/{{ result.match.team2.iso2 }}.png" srcset="https://flagcdn.com/w40/{{ result.match.team2.iso2 }}.png 2x" width="20">
	</div>
      </td>
      <td class="w-auto">
	{{ result.score_team1 }} - {{ result.score_team2 }} 
{% if result.extratime == True %}
({{ result.score_extratime_team1 }} - {{ result.score_extratime_team2 }})
	{% endif %}
      </td>
      {% for user in users.all %}
      {% for result_prono in result_pronos %}
      {% if result_prono.match_id == result.match.match_id %}
      {% if result_prono.user|lower == user|lower %}
      {% if result_prono.points > 0 %}
      <td class="w-auto; bg-success">	
	{% elif result.score_team1 != None %} 
      <td class="w-auto; bg-danger">
	{% else %}
      <td class="w-auto;">
	{% endif %}
        {{ result_prono.points }} &nbsp;
	<p style="color:black; font-style:italic;">
	  ({{ result_prono.prono.score_team1 }} - {{ result_prono.prono.score_team2 }})
	</p>
      </td>
      {% endif %}
      {% endif %}
      {% endfor prono %}
      {% endfor user %}
    </tr>
    {% endif %}
    {% endfor result %}
  <tbody>
</table>
</div>
{% endif %}
{% endfor round %}

<table class="table table-striped table-hover" style="white-space: nowrap">
  <thead class="thead-dark">
    <tr>
      <th style="text-align:center;background-color: #666666" colspan="3" scope="col"> TOTAL</th>
    </tr>
    <tr>
      <th class="w-auto" scope="col" colspan="1">Joueur</th>
      {% for user in users.all %}
      <th class="w-auto" scope="col">{{ user }}</th>
      {% endfor user %}
    </tr>
  </thead>
  <tbody>
      <tr>
	<td class="w-auto">
	  TOTAL
	</td>
	{% for p in users_totalpoints %}
	{% for user in users.all %}
	{% if p.user|lower == user|lower %}
        <td class="w-auto">
  	  {{ p.total_points }}
        </td>
	{% endif %}
	{% endfor user %}
	{% endfor p %}
      </tr>
</table>

<script>
  document.getElementById("ranking").innerHTML += "<span class=\"sr-only\">(current)</span>";
  document.getElementById("li_ranking").classList.add("active");
</script>

{% endblock %}
