{% extends "wc2022/base.html" %}

{% load static %}
{% load wc2022_extratags %}

{% block title %}
    Coupe du Monde 2022
{% endblock %}

{% block js %}
{{ block.super }}
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap4.min.js"></script>

<script src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.print.min.js"></script>
{% endblock %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.2/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap4.min.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous">
{% endblock %}


{% block content %}
<h1> Pronostics de {{ user }} </h1>
{% for round in ordered_rounds %}
<form action="{% url 'wc2022:record' %}" method="post">
  {% if round.id <= current_prediction_round %}
		    <div class="form-row align-items-center">
		    {% csrf_token %}
		    <fieldset>
		      {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
		      <div class="table-responsive">
			<table id="table{{ round.id }}" class="table table-striped table-hover"
			       style="white-space: nowrap">
			  <thead class="thead-dark">
			    <tr>
			      <th style="text-align:center;background-color: #666666" colspan="8" scope="col"> {{ round.round_name }}</th>
			    </tr>
			    <tr>
			      <th class="w-auto" scope="col">#</th>
			      <th class="w-auto" scope="col">Date</th>
				<th class="w-auto" scope="col">Equipe 1</th>
				<th class="w-auto" scope="col">score1</th>
				<th class="w-auto" scope="col"> </th>
				<th class="w-auto" scope="col">score2</th>
				<th class="w-auto" scope="col">Equipe 2</th>
				<th class="w-auto" scope="col">Temps restant</th>
			      </tr>
			    </thead>
       <tbody>
	 {% for m in matches %}
	 {% if m.match.match_round.id == round.id %} 
	 <!-- { % if m.match_round.round_name|lower == round.round_name|lower %}  -->
	 <tr>
	   <td class="w-auto">{{m.match.match_id }}</td>
	   <td data-order="{{m.match_date|date:"Y-m-d-H-i" }}" class="w-auto">{{m.match_date|date:"d F Y H:i" }}</td>
	   <!-- <td class="w-auto">{{m.match_date|date:"d F Y H:i" }}</td> -->
	   
	   <td class="w-auto">
	     <img src="https://flagcdn.com/w20/{{ m.match.team1.iso2 }}.png" srcset="https://flagcdn.com/w40/{{ m.match.team1.iso2 }}.png 2x" width="20">
	     {{ m.match.team1.name }}
	   </td>
	   {% for p in pronostics %}
           {% if p.match.match_id == m.match.match_id %}
           <input type="hidden" name="matchid" value="{{ m.match.match_id }}"/> </td>
<td class="w-auto">
  <div >
    {% if todays_date|date:"Y-m-d H:i" < p.match.match_date|date:"Y-m-d H:i" %}
					 <input type="number" class="form-control mb-2" style="min-width: 75px;" name="score1" id="score1_{{m.match.match_id}}" min="0" max="12" value="{{ p.score_team1 }}"/>
					 <input type="checkbox" class="form-control" style="" name="vainqueur1" id="vainqueur1_{{m.match.match_id}}" value="1"
{% if p.vainqueur == 1 %}
checked
{% endif %}
/>
					 {% else %}
					 <input type="hidden" class="form-control" style="" name="vainqueur1" id="vainqueur1_{{m.match.match_id}}" value="0"/>
					 {% if p.score_team1|lower != "none" %}
  <input type="hidden"name="score1" id="score1_{{m.match.match_id}}" value="{{ p.score_team1 }}"/>
  {{ p.score_team1 }}
  {% else %}
  <input type="hidden"name="score1" id="score1_{{m.match.match_id}}" value=""/>
  {% endif %}
  {% endif %}
  </div>
</td>

<td class="w-auto">-</td>

<td class="w-auto">
  <div >
    {% if todays_date|date:"Y-m-d H:i" < p.match.match_date|date:"Y-m-d H:i" %}
					 <input type="number" class="form-control mb-2" style="min-width: 75px;" name="score2" id="score2_{{m.match.match_id}}" min="0" max="12" value="{{ p.score_team2 }}"/> 
					 <input type="checkbox" class="form-control" style="" name="vainqueur2" id="vainqueur2_{{m.match.match_id}}" value="1"
{% if p.vainqueur == 2 %}
checked
{% endif %}
/>

					 {% else %}
					 <input type="hidden" class="form-control" style="" name="vainqueur2" id="vainqueur2_{{m.match.match_id}}" value="0"/>
					 {% if p.score_team1|lower != "none" %}
					 <input type="hidden"name="score2" id="score2_{{m.match.match_id}}" value="{{ p.score_team2 }}"/>
					 {{ p.score_team2 }}
					 {% else %}
					 <input type="hidden"name="score2" id="score2_{{m.match.match_id}}" value=""/>  
					 {% endif %}
					 {% endif %}
  </div>
</td>
{% endif %}
{% endfor %}
<td class="w-auto">
  {{ m.match.team2.name }}
  <img src="https://flagcdn.com/w20/{{ m.match.team2.iso2 }}.png" srcset="https://flagcdn.com/w40/{{ m.match.team2.iso2 }}.png 2x" width="20">
</td>

<td class="w-auto">
  {% if m.match.match_date|votetime_days != 0 %}
  {{m.match.match_date|votetime_days }}
  {% endif %}
</td>

</tr>
{% endif %}
{% endfor %}
</tbody>
</fieldset>
{% else %}
<input type="hidden" class="form-control" style="" name="vainqueur1" id="vainqueur1_{{m.match.match_id}}" value="0"/>
<input type="hidden"name="score1" id="score1_{{m.match.match_id}}" value=""/>
<input type="hidden" class="form-control" style="" name="vainqueur2" id="vainqueur2_{{m.match.match_id}}" value="0"/>
<input type="hidden"name="score2" id="score2_{{m.match.match_id}}" value=""/>  
{% endif %}
{% endfor %}

</table>
</div>
<input type="submit" value="Enregistrer">
</div>
</form>

<script>
  
  $(document).ready(function () {
      $('#table1').DataTable({
          paging: false,
	  info: false,
	  columns: [
	      { orderable: true },
	      { orderable: true },
	      { orderable: true },
	      { orderable: false },
	      { orderable: false},
	      { orderable: false },
	      { orderable: true },
	    { orderable: false },
	  ],
	  dom: 'Bfrtip',
	  buttons: [
          ],
	  
      },
			    );
      $('#table2').DataTable({
          paging: false,
	  info: false,
	  searching: false,
	  columns: [
	      { orderable: true },
	      { orderable: true },
	      { orderable: true },
	      { orderable: false },
	      { orderable: false},
	      { orderable: false },
	      { orderable: true },
	      { orderable: false },
	  ],
	  dom: 'Bfrtip',
          buttons: [
          ]
    } );
      $('#table3').DataTable({
          paging: false,
	  info: false,
	  searching: false,
	  columns: [
	      { orderable: true },
	      { orderable: true },
	      { orderable: true },
	      { orderable: false },
	      { orderable: false},
	      { orderable: false },
	      { orderable: true },
	      { orderable: false },
	  ],
	  dom: 'Bfrtip',
          buttons: [
          ]
      } );
      $('#table4').DataTable({
          paging: false,
	  info: false,
	  searching: false,
	  columns: [
	      { orderable: true },
	      { orderable: true },
	      { orderable: true },
	      { orderable: false },
	      { orderable: false},
	      { orderable: false },
	      { orderable: true },
	      { orderable: false },
	  ],
	  dom: 'Bfrtip',
          buttons: [
          ]
      } );
      $('#table5').DataTable({
          paging: false,
	  info: false,
	  searching: false,
	  columns: [
	      { orderable: true },
	      { orderable: true },
	      { orderable: true },
	      { orderable: false },
	      { orderable: false},
	      { orderable: false },
	      { orderable: true },
	      { orderable: false },
	  ],
	  dom: 'Bfrtip',
          buttons: [
          ]
      } );
      $('#table6').DataTable({
          paging: false,
	  info: false,
	  searching: false,
	  columns: [
	      { orderable: true },
	      { orderable: true },
	      { orderable: true },
	      { orderable: false },
	      { orderable: false},
	      { orderable: false },
	      { orderable: true },
	      { orderable: false },
	  ],
	  dom: 'Bfrtip',
          buttons: [
          ]
      } );
      $('#table7').DataTable({
          paging: false,
	  info: false,
	  searching: false,
	  columns: [
	      { orderable: true },
	      { orderable: true },
	      { orderable: true },
	      { orderable: false },
	      { orderable: false},
	      { orderable: false },
	      { orderable: true },
	      { orderable: false },
	  ],
	  dom: 'Bfrtip',
          buttons: [
              
          ]
      } );
  });
</script>

<script>
  document.getElementById("pronostiquer").innerHTML += "<span class='sr-only'>(current)</span>";
  document.getElementById("li_pronostiquer").classList.add("active");
</script>
{% endblock %}

