{% extends "wc2022/base.html" %}

{% load static %}

{% block title %}
    Coupe du Monde 2022
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap4.min.js"></script>
    
<script src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.print.min.js"></script>

{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.2/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap4.min.css">
{% endblock %}

{% block content %}

<h1> Pronostics de {{ user }} </h1>
 {% for round in rounds.all %}
{% if round.id <= current_prediction_round %}
 <!-- <h2>{{ round.round_name }}</h2> -->
    <div class="form-row align-items-center">
      <fieldset>
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	<div class="table-responsive">
	  <table id="table{{ round.id }}" class="table table-striped table-hover">
	    <thead class="thead-dark">
	      <tr>
		<th style="text-align:center;background-color: #666666" colspan="7" scope="col"> {{ round.round_name }}</th>
	      </tr>
	      <tr>
		<th class="w-auto" scope="col">#</th>
		<th class="w-auto" scope="col">Date</th>
		<th class="w-auto" scope="col">Equipe 1</th>
		<th class="w-auto" scope="col">score1</th>
		<th class="w-auto" scope="col"> </th>
		<th class="w-auto" scope="col">score2</th>
		<th class="w-auto" scope="col">Equipe 2</th>
	      </tr>
	    </thead>
	    <tbody>
	      {% for m in matches %}
	      {% if m.match.match_round.id == round.id %} 
	      <tr>
		<td class="w-auto">{{m.match.match_id }}</td>
		<td data-order="{{m.match.match_date|date:"Y-m-d-H-i" }}" class="w-auto">{{m.match.match_date|date:"d F Y H:i" }}</td>
		
		<td class="w-auto">
		  <img src="https://flagcdn.com/w20/{{ m.match.team1.iso2 }}.png" srcset="https://flagcdn.com/w40/{{ m.match.team1.iso2 }}.png 2x" width="20">
		  {{ m.match.team1.name }}
		</td>
		{% for p in pronostics %}
		{% if p.match.match_id == m.match.match_id %}
		<td class="w-auto">
		  <div class="col-sm-6">
		    {% if p.score_team1|lower != "none" %}
		    {{ p.score_team1 }}
		    {% else %}
		    <p style="color:grey;">N/A</p>
		    {% endif %}
		  </div>
		</td>
		
		<td class="w-auto">-</td>
		
		<td class="w-auto">
		  <div class="col-sm-6">
		    {% if p.score_team2|lower != "none" %}
		    {{ p.score_team2 }}
		    {% else %}
		    <p style="color:grey;">N/A</p>
		    {% endif %}
		  </div>
		</td>
		{% endif %}
		{% endfor p %}
		<td class="w-auto">
		  {{ m.match.team2.name }}
		  <img src="https://flagcdn.com/w20/{{ m.match.team2.iso2 }}.png" srcset="https://flagcdn.com/w40/{{ m.match.team2.iso2 }}.png 2x" width="20">
		</td>
	      </tr>
	      {% endif %}
	      {% endfor m %}
	    </tbody>
      </fieldset>
      
      </table>
      </div>
    </div>
      {% endif %}
      {% endfor round %}

<script>     
$(document).ready(function () {
    $('#table1').DataTable({
        paging: false,
	info: false,
	columns: [
	    { orderable: true },
	    { orderable: true },
	    { orderable: true },
	    { orderable: false },
	    { orderable: false},
	    { orderable: false },
	    { orderable: true },
	],
	dom: 'Bfrtip',
	buttons: [
            'csv'
        ],
	
    },
  );
    $('#table2').DataTable({
          paging: false,
	info: false,
	searching: false,
        buttons: [
            'csv'
        ]
    } );
    $('#table3').DataTable({
          paging: false,
	info: false,
	searching: false,
        buttons: [
            'csv'
        ]
    } );
    $('#table4').DataTable({
          paging: false,
	info: false,
	searching: false,
        buttons: [
            'csv'
        ]
    } );
    $('#table5').DataTable({
          paging: false,
	info: false,
	searching: false,
        buttons: [
            'csv'
        ]
    } );
    $('#table6').DataTable({
          paging: false,
	info: false,
	searching: false,
        buttons: [
            'csv'
        ]
    } );
    $('#table7').DataTable({
          paging: false,
	info: false,
	searching: false,
        buttons: [
            'csv'
        ]
    } );
});
</script>

<script>
  document.getElementById("pronostics").innerHTML +="<span class='sr-only'>(current)</span>";
  document.getElementById("li_pronostics").classList.add("active");
</script>
{% endblock %}
