{% extends "wc2022/base.html" %}

{% load static %}

{% block title %}
Coupe du Monde 2022
{% endblock %}


{% block js %}
{{ block.super }}
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap4.min.js"></script>

<script src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.print.min.js"></script>

{% endblock %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.3.2/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap4.min.css">
{% endblock %}

{% block content %}
{% for g in groups.all %}
      <!-- <tr> -->
      <!-- 	<th class="w-auto" scope="col" colspan=11>{{ g.name }}</th> -->
  <!-- </tr> -->
{% if g.id|divisibleby:2 %}
<div class="row">
  {% endif %}
<div class="col-md-6 col-sm-6 col-xs-6" style="float: left; display:table">
<h2>Groupe {{ g.name }}</h2>
  <table id="table{{ g.id }}" class="table table-striped table-hover" style="white-space: nowrap" >
    <thead class="thead-dark">
      <tr>
	<th class="w-auto" scope="col">Pos</th>
	<th class="w-auto" scope="col">Team</th>
	<th class="w-auto" scope="col">Pld</th>
	<th class="w-auto" scope="col">W</th>
	<th class="w-auto" scope="col">D</th>
	<th class="w-auto" scope="col">L</th>
	<th class="w-auto" scope="col">GF</th>
	<th class="w-auto" scope="col">GA</th>
	<th class="w-auto" scope="col">GD</th>
	<th class="w-auto" scope="col">Pts</th>
	<th class="w-auto" scope="col">Qualification</th>
      </tr>
    </thead>
    <tbody>
      {% for r in rankings %}
      {% if g.id == r.group.id %}
      {% if r.pos < 3  and r.pld == 3 %}
      <tr class="bg-success">
	{% else %}
      <tr>
	{% endif %}
      <td class="w-auto">
	{{ r.pos }}
      </td>
      <td class="w-auto">
	<div>
	  <img src="https://flagcdn.com/w20/{{ r.team.iso2 }}.png" srcset="https://flagcdn.com/w40/{{ r.team.iso2 }}.png 2x" width="20">&nbsp; {{ r.team.name }}
	</div>
      </td>
      <td class="w-auto">
	{{ r.pld }}
      </td>
      <td class="w-auto">
	{{ r.w }}
      </td>
      <td class="w-auto">
	{{ r.d }}
      </td>
      <td class="w-auto">
	{{ r.l }}
      </td>
      <td class="w-auto">
	{{ r.gf }}
      </td>
      <td class="w-auto">
	{{ r.ga }}
      </td>
      <td class="w-auto">
	{% if r.gd > 0 %}+{% endif %}{{ r.gd }}
      </td>
      <td class="w-auto">
	{{ r.pts }}
      </td>
      <td class="w-auto">
	{% if r.pos < 3 and r.pld == 3 %}
		      Qualifié
		      {% endif %}
      </td>
    </tr>
    {% endif %}
    {% endfor %}
    </tbody>
  </table>
  <!-- </div> -->

<!-- <div class="col-md-6 col-xs-6 col-sm-6" style="display:table">  -->
  <table id="toto" class="table  table-hover" style="white-space: nowrap" > 
    {% for result in results.all|dictsort:"match.match_date" %} 
    {% for group in groups.all %} 
    {% if g.id == group.id %} 
    {% if group.team1.name|lower == result.match.team1.name|lower or group.team2.name|lower == result.match.team1.name|lower or group.team3.name|lower == result.match.team1.name|lower or group.team4.name|lower == result.match.team1.name|lower %} 
    <tr> 
      <td class="w-auto">{{result.match.match_date|date:"d F Y H:i" }}</td> 
      <td class="w-auto"> 
	<img src="https://flagcdn.com/w20/{{ result.match.team1.iso2 }}.png" srcset="https://flagcdn.com/w40/{{ result.match.team1.iso2 }}.png 2x" width="20">&nbsp;  
	{{ result.match.team1.name }} 
      </td> 
      <td class="w-auto"> 
	- 
      </td> 
      <td class="w-auto"> 
	{{ result.match.team2.name }} 
	<img src="https://flagcdn.com/w20/{{ result.match.team2.iso2 }}.png" srcset="https://flagcdn.com/w40/{{ result.match.team2.iso2 }}.png 2x" width="20">&nbsp;  
    </td> 
      <td class="w-auto"> 
        {{ result.score_team1 }} - {{ result.score_team2 }} 
      </td> 
    </tr> 
    {% endif %} 
    {% endif %} 
    {% endfor group %} 
    {% endfor result %} 
  </table>

  {% if g.id|divisibleby:2 %}
</div>
  {% endif %}
</div>
{% endfor g%}

    <script>
     
      $(document).ready(function () {
	  var tabArr = ["#table1", "#table2", "#table3", "#table4", "#table5", "#table6", "#table7", "#table8"];
	  $.each(tabArr, function(index, value) { $(tabArr[index]).DataTable({
        paging: false,
	      info: false,
	      searching: false,
	      order: [[ 0, 'asc' ]],
	      columnDefs: [
		  {
		      targets: '_all',
		      orderable: false
		  }
	      ],
	dom: 'Bfrtip',
	buttons: [
        ],
	
    },
									    );
						});
});
</script>
    
<script>
  document.getElementById("resultats").innerHTML += "<span class='sr-only'>(current)</span>";
  document.getElementById("li_resultats").classList.add("active");
</script>
{% endblock %}
