{% extends "euro2024/base.html" %}

{% load static %}

{% block title %}
    Euro 2024
{% endblock %}

{% block styles %}
    {{ block.super }}
{% endblock %}

{% block content %}
{% for round in rounds.all %}
{% if round.id <= current_prediction_round %}
 <h2>{{ round.round_name }}</h2>
<div class="col-md-4 row" style="width:25%; display:table">
<table class="table table-striped table-hover" style="white-space: nowrap">
<thead class="thead-dark">
<tr>
    <th class="w-auto" scope="col">Match</th>
    <th class="w-auto" scope="col">Score</th>
    {% for user in users.all %}
      <th class="w-auto" scope="col">{{ user }}</th>
    {% endfor user %}
</tr>
</thead>
<tbody>
  {% for result in results.all %}
   {% if result.match.match_round.round_name|lower == round.round_name|lower %}
   {% if result.match.match_round.round_name == "Phase de poule" %}
<tr>
  <td class="w-auto">
    <div>
      <img src="https://flagcdn.com/w20/{{ result.match.team1.iso2 }}.png" srcset="https://flagcdn.com/w40/{{ result.match.team1.iso2 }}.png 2x" width="20"> &nbsp;
	   {% if result.vainqueur == 1 %}
          <b>
            {% endif %}
      {{ result.match.team1.name }}
	   {% if result.vainqueur == 1 %}
          </b>
            {% endif %}
      &nbsp;-&nbsp;
	   {% if result.vainqueur == 2 %}
          <b>
            {% endif %}
      {{ result.match.team2.name }}
	   {% if result.vainqueur == 2 %}
          </b>
            {% endif %}
      &nbsp;  <img src="https://flagcdn.com/w20/{{ result.match.team2.iso2 }}.png" srcset="https://flagcdn.com/w40/{{ result.match.team2.iso2 }}.png 2x" width="20">
</div>
  </td>
  <td class="w-auto">
    {{ result.score_team1 }} - {{ result.score_team2 }} 
  </td>
  {% for user in users.all %}
  {% for result_prono in result_pronos %}
    {% if result_prono.match_id == result.match.match_id %}
      {% if result_prono.user|lower == user|lower %}
      <td class="w-auto">
          <p style="color:#999999;">{{ result_prono.prono.score_team1 }} - {{ result_prono.prono.score_team2 }}</p>
          {{ result_prono.points }} 
      </td>
        {% endif %}
    {% endif %}
  {% endfor prono %}
  {% endfor user %}
</tr>

{% else %}

{% for match in matches %}

     {% if result.match.match_id == match.match.match_id %}

<tr>
  <td class="w-auto">
    <div>
      <img src="https://flagcdn.com/w20/{{ match.match.team1.iso2 }}.png" srcset="https://flagcdn.com/w40/{{ match.match.team1.iso2 }}.png 2x" width="20"> &nbsp;
      	   {% if match.vainqueur == 1 %}
          <b>
            {% endif %}
	    {{ match.match.team1.name }}
      	   {% if match.vainqueur == 1 %}
          </b>
            {% endif %}
      &nbsp;-&nbsp;
      	   {% if match.vainqueur == 2 %}
          <b>
            {% endif %}
      {{ match.match.team2.name }}
      	   {% if match.vainqueur == 2 %}
          </b>
            {% endif %}
      &nbsp;  <img src="https://flagcdn.com/w20/{{ match.match.team2.iso2 }}.png" srcset="https://flagcdn.com/w40/{{ match.match.team2.iso2 }}.png 2x" width="20">
</div>
  </td>
  <td class="w-auto">
    {{ result.score_team1 }} - {{ result.score_team2 }} 
  </td>
  {% for user in users.all %}
  {% for result_prono in result_pronos %}
    {% if result_prono.match_id == result.match.match_id %}
      {% if result_prono.user|lower == user|lower %}
      <td class="w-auto">
          <p style="color:#999999;">{{ result_prono.prono.score_team1 }} - {{ result_prono.prono.score_team2 }}</p>
          {{ result_prono.points }} 
      </td>
        {% endif %}
    {% endif %}
  {% endfor prono %}
  {% endfor user %}
</tr>
{% endif %}
{% endfor match %}

{% endif %}
{% endif %}
{% endfor result %}
		  <tbody>
  <tfoot>
    <tr>
      <td class="w-auto" colspan=2>
	<b>TOTAL</b>
      </td>
      {% for p in users_totalpoints %}
      {% for user in users.all %}
      {% if p.user|lower == user|lower %}
      <td class="w-auto">
	{% for key, value in p.points.items %}
	{% if key == round.id %}
  	<b>{{ value }}</b>
	{% endif %}
	{% endfor %}
        </td>
	{% endif %}
      {% endfor user %}
      {% endfor p %}
    </tr>
  </tfoot>

</table>
</div>

{% endif %}
      {% endfor round %}

<div class="col-md-4 row" style="width:25%; display:table">
<table class="table table-striped table-hover" style="white-space: nowrap">
<thead class="thead-dark">
<tr>
    <th class="w-auto" scope="col">&nbsp;</th>
    <th class="w-auto" scope="col">Score</th>
    {% for user in users.all %}
      <th class="w-auto" scope="col">{{ user }}</th>
    {% endfor user %}
</tr>
</thead>
<tfoot>
    <tr>
      <td class="w-auto" colspan=2>
	<b>TOTAL</b>
      </td>
      {% for p in users_totalpoints %}
      {% for user in users.all %}
      {% if p.user|lower == user|lower %}
        <td class="w-auto">
  	  <b>{{ p.total_points }}</b>
        </td>
	{% endif %}
      {% endfor user %}
      {% endfor p %}
    </tr>
  </tfoot>
</table>
  <script>
document.getElementById("ranking").innerHTML += "<span class=\"sr-only\">(current)</span>";
  document.getElementById("li_ranking").classList.add("active");
</script>

{% endblock %}
