{% extends "base.html" %}

{% load static %}

{% block title %}
    Les Tâches
{% endblock %}

{% block styles %}
    {{ block.super }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous">
{% endblock %}

{% block content %}
{% if latest_prono_list %}
    <ul>
    {% for prono in latest_prono_list %}
        <li><a href="/pronostics/{{ prono.match.match_id }}/">{{ prono }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No pronostic are available.</p>
{% endif %}
{% endblock %}
