{% extends "euro2024/base.html" %}
{% load static %}

{% block title %}
Euro 2024
{% endblock %}

{% block js %}
{{ block.super }}
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap4.min.js"></script>

{% endblock %}

{% block styles %}
{{ block.super }}
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.3.1/css/flag-icon.min.css'>
<link rel="stylesheet" href="{% static 'euro2024/bracket.css' %}">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap4.min.css">
{% endblock %}
	   
{% block bracket %}
<!--
    tournament bracket format
    -->
<div class="container">
  <div class="tournament-bracket tournament-bracket--rounded">                                                     
{% for r in ordered_rounds %}
	{% if r.id <= current_prediction_round %}
	      <div class="tournament-bracket__round tournament-bracket__round--{{ r }}">
      <h3 class="tournament-bracket__round-title">{{ r.round_name}}</h3>
      <ul class="tournament-bracket__list">

	{% for m in matches %}
	{% if m.match.match_round.id == r.id  %}
        <li class="tournament-bracket__item">
          <div class="tournament-bracket__match" tabindex="0">
            <table class="tournament-bracket__table">
              <!-- <caption class="tournament-bracket__caption"> -->
              <!--   <time datetime="1998-02-18">{{ m.match.match_date }}</time> -->
              <!-- </caption> -->
              <!-- <thead class="sr-only"> -->
              <!--   <tr> -->
              <!--     <th>Country</th> -->
              <!--     <th>Score</th> -->
              <!--   </tr> -->
              <!-- </thead>   -->
              <tbody class="tournament-bracket__content">
		  {% if m.vainqueur == 1 %}
                  <tr class="tournament-bracket__team tournament-bracket__team--winner">
		    {% else %}		    
                <tr class="tournament-bracket__team">
		  {% endif %}
		  
                  <td class="tournament-bracket__country">
                    <abbr class="tournament-bracket__code" title="{{ m.match.team1.name }}">{{ m.match.team1.name }}</abbr>
                    <span class="tournament-bracket__flag flag-icon flag-icon-{{ m.match.team1.iso2 }}" aria-label="Flag"></span>
                  </td>
                  <td class="tournament-bracket__score">
                    <span class="tournament-bracket__number">{{ m.score_team1 }}</span>
                  </td>
                </tr>
		  {% if m.vainqueur == 2 %}
                  <tr class="tournament-bracket__team tournament-bracket__team--winner">
		    {% else %}
		    
                <tr class="tournament-bracket__team">
		  {% endif %}
                  <td class="tournament-bracket__country">
                    <abbr class="tournament-bracket__code" title="{{ m.match.team2.name }}">{{ m.match.team2.name }}</abbr>
                    <span class="tournament-bracket__flag flag-icon flag-icon-{{ m.match.team2.iso2 }}" aria-label="Flag"></span>
                  </td>
                  <td class="tournament-bracket__score">
                    <span class="tournament-bracket__number">{{ m.score_team2 }}</span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </li>
{% endif %}
{% endfor %}
     </ul>
    </div>
{% endif %}
{% endfor %}
    </div>
  </div>
</div>
{% endblock %}

<!--
    list format
    -->
{% block content %}

{% for r in ordered_rounds %}
{% if r.id <= current_prediction_round %}
<div class="col-md-6 col-sm-6 col-xs-6" style="float: left; display:table">
<h2>{{ r.round_name }}</h2>
  <table id="table{{ g.id }}" class="table table-striped table-hover" style="white-space: nowrap" >
    <thead class="thead-dark">
      <tr>
	<th class="w-auto" scope="col">Team1</th>
	<th class="w-auto" scope="col">score1</th>
	<th class="w-auto" scope="col"></th>
	<th class="w-auto" scope="col">score2</th>
	<th class="w-auto" scope="col">Team2</th>
      </tr>
    </thead>
    <tbody>
      {% for m in matches %}
{% if m.match.match_round.id == r.id %}
<tr>
      <td class="w-auto">
	<div>
	  {% if m.vainqueur == 1 %}
          <b>
            {% endif %}

	  <img src="https://flagcdn.com/w20/{{ m.match.team1.iso2 }}.png" srcset="https://flagcdn.com/w40/{{ m.match.team1.iso2 }}.png 2x" width="20">&nbsp; {{ m.match.team1.name }}
	  {% if m.vainqueur == 1 %}
          </b>
            {% endif %}
	</div>
      </td>
      <td class="w-auto">
	<div>
	  {{ m.score_team1 }}
	</div>
      </td>
      <td class="w-auto"> 
	<div>
	  -
	</div>
      </td>
      <td class="w-auto">
	<div>
	  {{ m.score_team2 }}
{% if m.extratime == True %}
({{ m.score_extratime_team1 }} - {{ m.score_extratime_team2 }})
	{% endif %}
	</div>
      </td>

      <td class="w-auto">
	<div>
	   {% if m.vainqueur == 2 %}
          <b>
            {% endif %}
	  <img src="https://flagcdn.com/w20/{{ m.match.team2.iso2 }}.png" srcset="https://flagcdn.com/w40/{{ m.match.team2.iso2 }}.png 2x" width="20">&nbsp; {{ m.match.team2.name }}
	   {% if m.vainqueur == 2 %}
          </b>
            {% endif %}
	</div>
      </td>
</tr>

{% endif %}
{% endfor m %}
    </tbody>
    </table>
    </div>
    
{% endif %}
{% endfor r %}
<script>
  document.getElementById("knockout").innerHTML += "<span class=\"sr-only\">(current)</span>";
  document.getElementById("li_knockout").classList.add("active");
</script>
{% endblock %}
